**Python Basics Notes**

# 0. Comments
### Single-line comment: Use a hash symbol (#) for comments on a single line.

"""
This is a multi-line comment, also known as a docstring.
It's typically used for documenting functions, classes, or modules,
but can also be used for multi-line comments in general.
"""

## 1. Different Ways to Print (Output)

In [4]:
# Basic print
print("This is a basic print statement.")

# Printing multiple items with a space separator by default
print("Hello", "World", 2023)

# Concatenation with + (works for strings only)
string_var = "Python"
print("Learning " + string_var)

# Using commas to print multiple items (automatically adds spaces)
int_var = 100
print("The value is", int_var)

# f-strings (Formatted String Literals) - introduced in Python 3.6
# They allow embedding expressions inside string literals by prefixing the string with 'f' or 'F'
name = "Alice"
age = 30
print(f"My name is {name} and I am {age} years old.")

# print with custom separator and end character
print("A", "B", "C", sep='-', end='!!!\n')
print("New line after end")

This is a basic print statement.
Hello World 2023
Learning Python
The value is 100
My name is Alice and I am 30 years old.
A-B-C!!!
New line after end

# 1.1. Variables and Data Types
* Variables are used to store data values.
* Python has no command for declaring a variable. A variable is created the moment you first assign a value to it.

In [3]:
# Integer
my_integer = 10
print(f"my_integer: {my_integer}, type: {type(my_integer)}")

# Float (decimal number)
my_float = 20.5
print(f"my_float: {my_float}, type: {type(my_float)}")

# String (text)
my_string = "Hello, Python!"
print(f"my_string: {my_string}, type: {type(my_string)}")

# Boolean (True or False)
my_boolean = True
print(f"my_boolean: {my_boolean}, type: {type(my_boolean)}")

# List (ordered, changeable, allows duplicate members)
my_list = [1, 2, "three", 4.0]
print(f"my_list: {my_list}, type: {type(my_list)}")

# Tuple (ordered, unchangeable, allows duplicate members)
my_tuple = (1, 2, "three", 4.0)
print(f"my_tuple: {my_tuple}, type: {type(my_tuple)}")

# Dictionary (unordered, changeable, no duplicate keys)
my_dict = {"name": "Alice", "age": 30}
print(f"my_dict: {my_dict}, type: {type(my_dict)}")

# Set (unordered, unchangeable*, no duplicate members) *can add/remove items
my_set = {1, 2, 3, 2}
print(f"my_set: {my_set}, type: {type(my_set)}")

my_integer: 10, type: <class 'int'>
my_float: 20.5, type: <class 'float'>
my_string: Hello, Python!, type: <class 'str'>
my_boolean: True, type: <class 'bool'>
my_list: [1, 2, 'three', 4.0], type: <class 'list'>
my_tuple: (1, 2, 'three', 4.0), type: <class 'tuple'>
my_dict: {'name': 'Alice', 'age': 30}, type: <class 'dict'>
my_set: {1, 2, 3}, type: <class 'set'>

## 1.2. Taking Input (Input)


 * The input() function allows you to get user input.
 * It takes an optional prompt string as an argument.
 * The input() function always returns a string, so you might need to convert it to other types.

In [5]:
user_name = input("Enter your name: ")
print(f"Hello, {user_name}!")

user_age_str = input("Enter your age: ")
user_age = int(user_age_str) # Convert the string input to an integer
print(f"You are {user_age} years old. In 5 years, you will be {user_age + 5}.")

Enter your name: anish
Hello, anish!
Enter your age: 24
You are 24 years old. In 5 years, you will be 29.

# 2. Operators
### Arithmetic Operators

In [7]:
a, b = 10, 3
print(f"a + b = {a + b}")
print(f"a - b = {a - b}")
print(f"a * b = {a * b}")
print(f"a / b = {a / b} (float division)")
print(f"a // b = {a // b} (integer division)")
print(f"a % b = {a % b} (modulus)")
print(f"a ** b = {a ** b} (exponentiation)")

a + b = 13
a - b = 7
a * b = 30
a / b = 3.3333333333333335 (float division)
a // b = 3 (integer division)
a % b = 1 (modulus)
a ** b = 1000 (exponentiation)

## 3. Control Flow: Conditional Statements (if, elif, else)

In [9]:
x = 15
if x > 20:
    print("x is greater than 20")
elif x > 10:
    print("x is greater than 10 but not greater than 20")
else:
    print("x is 10 or less")

x is greater than 10 but not greater than 20

## 4. Control Flow: Loops

In [10]:
# For loop (iterating over a sequence)
print("For loop example:")
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

# For loop with range()
print("\nFor loop with range example:")
for i in range(5):  # default start from 0 up to (but not including) 5
    print(i)

print("\nFor loop with start and stop range:")
for i in range(2, 7): # start from 2 up to (but not including) 7
    print(i)

print("\nFor loop with start, stop, and step range:")
for i in range(0, 10, 2): # start from 0 up to (but not including) 10, step by 2
    print(i)

# While loop (executes as long as a condition is true)
print("\nWhile loop example:")
count = 0
while count < 5:
    print(count)
    count += 1

# break statement (exits the loop)
print("\nWhile loop with break example:")
count_break = 0
while True:
    print(count_break)
    count_break += 1
    if count_break == 3:
        break

# continue statement (skips the rest of the current iteration)
print("\nFor loop with continue example:")
for i in range(5):
    if i == 2:
        continue
    print(i)

For loop example:
apple
banana
cherry

For loop with range example:
0
1
2
3
4

For loop with start and stop range:
2
3
4
5
6

For loop with start, stop, and step range:
0
2
4
6
8

While loop example:
0
1
2
3
4

While loop with break example:
0
1
2

For loop with continue example:
0
1
3
4

**Basic Codes**

**Fibonacci Series**

In [ ]:
a,b=0,1
print(a, end=" ")
print(b, end=" ")
for i in range(10):
  c=a+b
  a=b
  b=c
  print(c, end=" ")

0 1 1 2 3 5 8 13 21 34 55 89

**Check Palindrome Number**

In [14]:
n = int(input("Enter a number: "))
x = n
rev = 0

while x != 0:
    digit = x % 10
    rev = rev * 10 + digit
    x //= 10

if rev == n:
    print("the number is palindrome")
else:
    print("the number is not a palindrome")

Enter a number: 121
the number is palindrome

## Armstrong Number

An **Armstrong number** (also known as a narcissistic number, a pluperfect digital invariant, or a Plus Perfect Number) is a number that is equal to the sum of its own digits, each raised to the power of the number of digits in the number.

For example, for a 3-digit number, an Armstrong number is a number such that the sum of its digits raised to the power of 3 is equal to the number itself.

**Example (for 3-digit number):**

- `153` is an Armstrong number because `1^3 + 5^3 + 3^3 = 1 + 125 + 27 = 153`.

In [15]:
n = int(input('enter a no.'))
x=n
sum=0
while(x!=0):
  digit=x%10
  sum+=digit**3
  x//=10
print(sum)
if(sum==n):
  print("armstrong number")
else:
  print("not an armstrong")

enter a no.153
153
armstrong number

**Imp**

## `list.append()` vs. `list.extend()`

Both `append()` and `extend()` are list methods in Python used to add elements to a list, but they do so in different ways.

### `list.append(element)`

- Adds a **single element** to the end of the list.
- The `element` can be of any type, including another list. If you append a list, it will be added as a single item (a sublist) to the original list.
- It modifies the list in-place and returns `None`.

**Example:**

```python
list1 = [1, 2, 3]
list2 = [4, 5]

list1.append(list2) # Appends list2 as a single element
print(list1)
# Output: [1, 2, 3, [4, 5]]

list1.append(6)
print(list1)
# Output: [1, 2, 3, [4, 5], 6]
```

### `list.extend(iterable)`

- Adds all **elements from an iterable** (like another list, tuple, set, or string) to the end of the list.
- It effectively concatenates the elements of the iterable with the original list.
- It modifies the list in-place and returns `None`.

**Example:**

```python
list1 = [1, 2, 3]
list2 = [4, 5]

list1.extend(list2) # Extends list1 with individual elements from list2
print(list1)
# Output: [1, 2, 3, 4, 5]

list1.extend([6, 7])
print(list1)
# Output: [1, 2, 3, 4, 5, 6, 7]

list1.extend("abc") # Extends with individual characters from the string
print(list1)
# Output: [1, 2, 3, 4, 5, 6, 7, 'a', 'b', 'c']
```

### Key Differences:

| Feature        | `append()`                                       | `extend()`                                                       |
| :------------- | :----------------------------------------------- | :--------------------------------------------------------------- |
| **Argument**   | Takes a single `element`                         | Takes an `iterable` (e.g., list, tuple, string)                 |
| **Behavior**   | Adds the entire `element` as a single item       | Adds each item of the `iterable` individually to the list       |
| **Result**     | List can contain nested structures (e.g., `[..., [a, b]]`) | Flattens the iterable into the original list (e.g., `[..., a, b]`) |

**In summary:** Use `append()` when you want to add a single item, potentially including another collection as a nested object. Use `extend()` when you want to add multiple items from an iterable, effectively merging them into the current list.

In [ ]:
list1=[2,3,"subi",4,"ani"]
list2=[1,[2,3],[4,5,6],[[2,3,4],[1,2]],1,2]
a=list1.extend(list2) #return type 'None' , does inplace changes
list2.extend(list1)
print(a)
print(list1)
print(list2)


a=[2,3]
b=[4,5]
a.append(b)
print(a)

None
[2, 3, 'subi', 4, 'ani', 1, [2, 3], [4, 5, 6], [[2, 3, 4], [1, 2]], 1, 2]
[1, [2, 3], [4, 5, 6], [[2, 3, 4], [1, 2]], 1, 2, 2, 3, 'subi', 4, 'ani', 1, [2, 3], [4, 5, 6], [[2, 3, 4], [1, 2]], 1, 2]

In [ ]:

a=[2,3]
print(a*3)

#Options

#error
#[2,3,2,3,2,3]
#[6,9]

[2, 3, 2, 3, 2, 3]

In [ ]:
a=[1,4,2]
b=a.sort()
print(b)

None

In [ ]:
b=sorted(a)
print(b)

[1, 2, 4]

### Palindrome using list methods

In [ ]:
a=133
b=str(a)
lis=[]
for i in range(len(b)):
  lis.append(b[i])
lis.reverse()
c=''.join(lis)
d=int(c)
if(a==d):
  print('palindrome')
else:
  print('not a palindrome')

1
3
not a palindrome

### converting any DataType to List

In [19]:
a='123'
print(list(a))

['1', '2', '3']

## Palindrome using two pointer approach

In [16]:
n = input("Enter a number: ")

# Convert the number to a string to easily access characters
s = str(n)

# Initialize two pointers
left = 0
right = len(s) - 1

is_palindrome = True

# Iterate while the left pointer is less than the right pointer
while left < right:
    if s[left] != s[right]:
        is_palindrome = False
        break
    left += 1
    right -= 1

if is_palindrome:
    print(f"The number {n} is a palindrome.")
else:
    print(f"The number {n} is not a palindrome.")

Enter a number: 121
The number 121 is a palindrome.

### Palindrome using slicing

In [18]:
n_str = input("Enter a string or number to check for palindrome: ")

# Using slicing to reverse the string
reversed_str = n_str[::-1]

if n_str == reversed_str:
    print(f"'{n_str}' is a palindrome.")
else:
    print(f"'{n_str}' is not a palindrome.")

Enter a string or number to check for palindrome: 121
'121' is a palindrome.